.container {
    max-width: 1300px;
    margin: 0 auto;
}

.graph {
    display: grid;
    grid-template-columns: repeat(53, 1fr);
    grid-auto-rows: 1fr;

    gap: 2px;
}

.contribution-point {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.contribution-point:hover {
    outline: 1px solid rgba(0,0,0, 0.5);
}

.week {
    width: 15px;
    height: 117px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
